body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Ajout d'une largeur fixe pour le container */
}

form {
    display: flex;
    flex-direction: column; /* Affichage vertical des éléments du formulaire */
}

/* Ajout de style pour le fond du formulaire */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 0, 121); /* Couleur de fond avec opacité */
    z-index: -1; /* Met le fond en arrière-plan */
}
